body {
    margin: 0;
    padding-top: 50px;
}

canvas {
    display: inline-block;
    border: 1px solid black;
}

#appEngine {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: 0 auto;
    width: 1200px;
}

#canvas, img {
    z-index: 1;
    position: absolute;
}

#debugCanvas {
    z-index: 2;
    position: absolute;
}

#debug {
    display: block;
}

.button {
    position: absolute;
    top: 660px;
    width: 250px;
    height: 25px;
    background-color: #5fd644;
    cursor: pointer;
    text-align: center;
    padding-top:5px;
}